.sector-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 15px;
  margin-top: 20px;
}
.sector-table td {
  background-color: #ffffff;
  padding: 12px 18px;
  border-radius: 10px;
  text-align: center;
  font-size: 1.1rem;
  color: #c0392b;
  font-weight: 600;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, background-color 0.2s;
}
.sector-table td:hover {
  background-color: #f9f9f9;
  transform: scale(1.05);
  cursor: pointer;
}

/* 이건 컴포넌트로 보는 게 좋음 */
h2 {
  position: fixed;
  top: 30px;
  right: 20px;
  background-color: #ffffff;
  padding: 12px 18px;
  border-radius: 10px;
  text-align: center;
  font-size: 1.1rem;
  color: #c0392b;
  font-weight: 600;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, background-color 0.2s;
  width: 50px;
}

h2:hover {
  background-color: #f9f9f9;
  transform: scale(1.05);
  cursor: pointer;
}
