body {
  background-color: rgb(249, 240, 228);
}
a {
  color: #2e8b57;
  font-size: 30px;
  text-decoration: none;
}
img {
  width: 500px;
}
table {
  margin: 15px;
}
td {
  padding: 20px;
}
h1 {
  text-align: center;
  background-color: rosybrown;
  padding: 30px;
  font-size: 2.5rem;
}
h2, h2:hover {
  /* 이건 component.css로 옮기는 게 좋아 */
}
h3 {
  font-size: 30px;
}