h3{
    margin:0px;
}
h1{
    text-align:center;
    background-color:rgb(116, 157, 116);
    font-size:30px;
    margin:0px;
}
#grid{
    display:grid;
    grid-template-columns:1fr 1fr;
    align-items:stretch;
    margin-inline:100px;
    margin-top:30px;
}
.grid-item{
    display:grid;
    grid-template-columns:auto 1fr;
    border-block:1px solid gray;    
}
.grid-list{
    text-align:center;
    word-spacing:30px;
    border-block:1px solid gray;
    padding:12px;
}
a{
    text-decoration: none;
    color:black;
    font-size:25px;
}
.subImg img{
    width: 200px;
    height: auto;
    border:1px solid black;
}
.mainImg img{
    width:100%;
    height:500px;
}
body{
    background-color: antiquewhite;
}
form{
    text-align: center;
    font-size:20px;
    padding: 30px;
}
table{
    width: 90%;
    border-collapse: collapse;
    margin-top: 10px;
    text-align: center;
}
td{
    border: 1px solid black;
}
h2{
    background-color: #ffffff;
    padding: 12px 18px;
    border-radius: 10px;
    text-align: center;
    font-size: 1.1rem;
    color: #c0392b;
    font-weight: 600;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, background-color 0.2s;
    margin-inline: 30%;

}
h2:hover{
     background-color: #f9f9f9;
     transform: scale(1.05);
     cursor: pointer;
}