.subImg img {
  width: 200px;
  height: auto;
  border: 1px solid black;
}
.mainImg img {
  width: 100%;
  height: 500px;
}
table {
  width: 90%;
  border-collapse: collapse;
  margin-top: 10px;
  text-align: center;
  margin:10px auto;
}
th {
  border: 1px solid black;
  font-size: 30px;
  background-color: #f0f0f0;
}

td {
  border: 1px solid black;
  font-size: 30px;
  
}
#simg{
  width:120px;
  height:auto;
}
#std{
  width: 120px;
}